
div.jumbotron {
    color: #fff;
    font-weight: bold;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media screen and (min-width: 601px) {
    .jumbotron > .main-title {
        font-size: 45px;
    }
    
    .jumbotron > .sub-title {
        font-size: 30px;
    }
    
    .jumbotron > .sub-sub-title {
        font-size: 18px;
    }
}
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .jumbotron > .main-title {
        font-size: 30px;
    }
    
    .jumbotron > .sub-title {
        font-size: 25px;
    }
    
    .jumbotron > .sub-sub-title {
        font-size: 15px;
    }
  }